<nav class="navbar bg-dark fixed-top navbar-expand-lg navbar-dark shadow-5-strong" data-bs-theme="dark" >
  <div class="container-fluid container">
    <a class="navbar-brand" href="#">
      <img src="{{externalResourcePath.LOGO}}" alt=""  class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{externalResourcePath.MAIN_MENU}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{externalResourcePath.PRODUCT}}">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{externalResourcePath.FEATURE}}">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://sasanka.me">Support</a>
        </li>
      </ul>
    </div>
    <a href="http://sasanka.me">
      <button class="btn btn-outline-warning" type="submit">sasanka.me</button>
    </a>
  </div>
</nav>
