.customer-details{
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.customer-details h1{
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.website-logo{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.checked {
  color: orange;
}
