<div class="feature-details">
  <a href="https://github.com/sasankaweera123">
    <div class="feature-card container">
    <div class="icon">
      <i class="fas fa-code"></i>
    </div>
    <div class="content">
      <h3 class="feature-name">Developers</h3>
      <p class="description">Developers can access the API for future development, as the project is open source.</p>
    </div>
  </div>
  </a>
  <a href="{{externalResourcePath.MAIN_MENU}}">
    <div class="feature-card container">
    <div class="icon">
      <i class="fas fa-flask"></i>
    </div>
    <div class="content">
      <h3 class="feature-name">Researchers</h3>
      <p class="description">Researchers can leverage this product to acquire extensive data and make the development process publicly accessible.</p>
    </div>
  </div>
  </a>
  <a href="https://github.com/sasankaweera123">
    <div class="feature-card container">
    <div class="icon">
      <i class="fas fa-graduation-cap"></i>
    </div>
    <div class="content">
      <h3 class="feature-name">Students / Beginners</h3>
      <p class="description">Students can obtain fundamental insights and data for their studies on the development process.</p>
    </div>
  </div>
  </a>
  <a href="{{externalResourcePath.MAIN_MENU}}">
    <div class="feature-card container">
    <div class="icon">
      <i class="fas fa-user"></i>
    </div>
    <div class="content">
      <h3 class="feature-name">E-commerce Customers</h3>
      <p class="description">Customers can gauge the polarity of e-commerce website products and effortlessly access the necessary data.</p>
    </div>
  </div>
  </a>
</div>
