.product-page-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10rem 0;
}

.polarity-item{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}

.reviews{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.review-text{
  width: 40%;
  min-height: 150px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.review-text p{
  font-size: 0.8rem;
}

h3{
  font-size: 4rem;
  margin-bottom: 10px;
  color: #F1C40F;
}

h2{
  text-align: center;
}

.product-image{
  display: flex;
  justify-content: center;
}

img{
  max-width:500px;
}
