.offer-details{
  width:100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h4{
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2{
  color: #F1C40F;
}

.row{
  width: 100%;
}

