<div class="offer-details">
  <h4 class="pb-4">Moody Offers ?</h4>
  <div class="row">
    <div class="col-md-4">
      <div class="offer-details-item">
        <div class="offer-details-item__content">
          <h2>{{moodyDetails.productsCount}}</h2>
          <p>Products</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="offer-details-item">
        <div class="offer-details-item__content">
          <h2>{{moodyDetails.reviewCount}}</h2>
          <p>Reviews</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="offer-details-item">
        <div class="offer-details-item__content">
          <h2>{{moodyDetails.websiteCount}}</h2>
          <p>Websites</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="offer-details-item">
        <div class="offer-details-item__content">
          <h2>{{moodyDetails.categoriesCount}}</h2>
          <p>Categories</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="offer-details-item">
        <div class="offer-details-item__content">
          <h2>{{moodyDetails.avgPolarity}}</h2>
          <p>Average Polarity</p>
        </div>
      </div>
    </div>
</div>
</div>
