.website-details{
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.website-logo{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.website-details h4{
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

img{
  width: 200px;
}
