<div class="website-details">
  <h4 class="pb-4">Available Web Pages</h4>
  <div class="website-logo">
      <a href="https://www.amazon.com/">
        <img src="https://www.nicepng.com/png/full/16-167642_amazon-logo-amazon-logo-white-text.png" alt="" srcset="" width="300px">
      </a>
      <a href="https://www.ebay.com/">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/48/EBay_logo.png" alt="" srcset="" width="300px">
      </a>
      <a href="https://www.wish.com/">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Wish_logo.svg/2560px-Wish_logo.svg.png" alt="" srcset="" width="300px">
      </a>
      <a href="https://www.aliexpress.com/">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Aliexpress_logo.svg/2560px-Aliexpress_logo.svg.png" alt="" srcset="" width="300px">
      </a>
  </div>
</div>
